@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>tester</h1>



<h3>Select your hot dog sauce</h3>

<div class="form-group">
    @foreach (var sauce in sauces)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="sauce.Selected" id="@sauce.Name">
            <label class="form-check-label" for="@sauce.Name">
                @sauce.Name
            </label>
        </div>
    }
</div>

<button class="btn btn-primary" @onclick="Submit">Submit</button>

@if (selectedSauces != null)
{
    <h5>You selected:</h5>
    @foreach (var sauce in selectedSauces)
    {
        <p>@sauce</p>
    }
}

@code {
    private List<Sauce> sauces = new List<Sauce>
    {
        new Sauce { Name = "No Sauce" },
        new Sauce { Name = "Ketchup" },
        new Sauce { Name = "Mayo and Mustard" }
    };

    private List<string> selectedSauces;

    private void Submit()
    {
        selectedSauces = sauces.Where(s => s.Selected).Select(s => s.Name).ToList();
    }

    public class Sauce
    {
        public string Name { get; set; }
        public bool Selected { get; set; }
    }
}
