@page "/tabellacandidati"
@inject HttpClient Http
@using MonusProject.Client.Shared.Models;

<PageTitle>Tabella Candidati</PageTitle>

<h3>Tabella Candidati</h3>

@if(Candidati == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var candidato in Candidati)
        {
        <tr>
            <td>@candidato.Nome</td>
            <td>@candidato.Cognome</td>
            <td>@candidato.SkillName</td>
        </tr>
        }
    </tbody>
</table>
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nome</label>
                <input type="text" class="form-control" required @bind=NomeValore>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Cognome</label>
                <input type="text" class="form-control" @bind=CognomeValore>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">SkillName</label>
                <input type="text" class="form-control" @bind=SkillName>
            </div>
            <button type="submit" @onclick="Test" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

 

@code {
    public Candidato[]? Candidati;
    public string NomeValore;
    public string CognomeValore;
    public string SkillName ;
    protected override async Task OnInitializedAsync()
    {
        Candidati = await Http.GetFromJsonAsync<Candidato[]>("api/Candidato");
    }
    public void Test()
    {

        return;
    }

    private async Task GetAllCandidati()
    {
        var result = await Http.GetAsync("api/Candidato");
    }
}
