@page "/tabellaskills"
@inject HttpClient Http
@using MonusProject.Client.Shared.Models;

<PageTitle>Tabella Skills</PageTitle>

<h3>Tabella Skills</h3>

@if(Skills == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Skills)
        {
        <tr>
            <td>@skill.SkillName</td>
                    <td><button type="button" @onclick="() => Delete(skill.SkillId)" class="btn btn-danger">Delete</button></td>
        </tr>
        }
    </tbody>
</table>
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Skill</label>
                <input type="text" class="form-control" required @bind=SkillName>
            </div>
            <button type="submit" @onclick="Test" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@code {
    public Skill[]? Skills;
    public string SkillName;
    protected override async Task OnInitializedAsync()
    {
        Skills = await Http.GetFromJsonAsync<Skill[]>("api/Skill");
    }
    public void Test()
    {

        return;
    }

    private async Task GetAllSkills()
    {
        var result = await Http.GetAsync("api/Skill");
    }

    public async Task Delete(int id)
    {
        var response = await Http.DeleteAsync($"api/Skill/{id}");

        if (response.IsSuccessStatusCode)
        {
            // Skill item is succesfully deleted, update the list
            Skills = await Http.GetFromJsonAsync<Skill[]>("api/Skill");
        }
        else
        {
            Skills = null;
        }
    }
}
